<div id="particles-js">
    <div class="header">
        <img src="/assets/icons/perfil.png" width="150px" height="150px" alt="">
        <h1>
            <span class="site-title">{{ site.username }}</span>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:axel.jovanny.aj@gmail.com"><img src="/assets/icons/icons8-gmail-50.png" width="30px" height="30px"></a>
            <a aria-label="My Instagram" target="_blank" href="https://twitter.com/axeltqm"><img src="/assets/icons/icons8-twitter-50.png" width="30px" height="30px"></a>
            <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/axeljovanny.quinterotrujillo.9"><img src="/assets/icons/icons8-facebook-50.png" width="30px" height="30px"></a>
            <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/axel-quintero/"><img src="/assets/icons/icons8-linkedin-50.png" width="30px" height="30px"></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/axeljovanny"><img src="/assets/icons/icons8-github-50.png" width="30px" height="30px"></a>
        </div>
        <h1>
            <span class="site-description">{{ site.user_title }}</span>
        </h1>

        <div class="header-links">
            <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>